---

yaml-files:
    - '*.yaml'
    - '*.yml'
    - '.yamllint'
    - '*.md'

rules:
  document-start:
    level: warning
  hyphens: enable
  indentation: enable
  line-length: disable
  new-line-at-end-of-file: enable
  new-lines: enable
  trailing-spaces: enable

ignore: |
  
  */vaults/*
