---
# For configuration options and examples, please see:
# https://gethomepage.dev/en/configs/bookmarks

# uncomment below to enable bookmarks
# - Developer:
#     - Github:
#         - abbr: GH
#           href: https://github.com/
#
# - Social:
#     - Reddit:
#         - abbr: RE
#           href: https://reddit.com/
#
# - Entertainment:
#     - YouTube:
#         - abbr: YT
#           href: https://youtube.com/
- Homelab:
    - Twingate:
        - abbr: TWG
          href: https://spicynetwork.twingate.com/

    - Ansible:
        - abbr: ANS
          href: http://10.100.10.14
    
    - Twingate:
        - abbr: TWG
          href: https://spicynetwork.twingate.com/