---
# For configuration options and examples, please see:
# https://gethomepage.dev/en/configs/bookmarks

# uncomment below to enable bookmarks
# - Developer:
#     - Github:
#         - abbr: GH
#           href: https://github.com/
#
# - Social:
#     - Reddit:
#         - abbr: RE
#           href: https://reddit.com/
#
# - Entertainment:
#     - YouTube:
#         - abbr: YT
#           href: https://youtube.com/
- Homelab:
    - Documentation:
        - abbr: Docs
          href: https://spicyfajitas.github.io/cookbooks/

    - MTU Shell Website:
        - abbr: MTU Shell
          href: https://shell.lug.mtu.edu/~adam/

    - Twingate:
        - abbr: TWG
          href: https://spicynetwork.twingate.com/
