---
# For configuration options and examples, please see:
# https://gethomepage.dev/en/configs/services

- Infrastructure:
    - Router:
        icon: asus-router.png
        href: http://10.100.10.1
        ping: http://10.100.10.1

    - Switch:
        icon: mdi-swap-horizontal-#ADD8E6
        href: http://10.100.10.2
        ping: http://10.100.10.2

    {# - Unifi Controller:
        icon: unifi.png
        href: https://10.100.10.5:8443
        description: (currently off)
        ping: https://10.100.10.5:8443
        widget:
            type: unifi
            url: https://10.100.10.5:8443
            username: {{ unifi_controller_username }}
            password: {{ unifi_controller_password }} #}

    - Proxmox:
        icon: proxmox.png
        href: https://10.100.10.10:8006
        ping: https://10.100.10.10:8006
        widget:
            type: proxmox
            url: https://10.100.10.10:8006
            username: {{ proxmox_api_token_id }}
            password: {{ proxmox_api_key }}
    
    - TrueNAS:
        icon: truenas-scale.png
        href: https://10.100.10.15
        ping: https://10.100.10.15
        widget:
            type: truenas
            url: https://10.100.10.15
            key: {{ truenas_api_key }} # not required if using username / password

    - TrueNAS 2:
        icon: truenas-scale.png
        href: https://10.100.10.16
        ping: https://10.100.10.16
        widget:
            type: truenas
            url: https://10.100.10.16
            key: {{ truenas2_api_key }} # not required if using username / password

    - Ansible Server:
        icon: ansible.png
        href: http://10.100.10.14

- Services:
    - Plex:
        icon: plex.png
        href: https://app.plex.tv/
        widget:
            type: plex
            url: http://10.100.10.20:32400
            key: {{ plex_key }}

    - Immich:
        icon: immich.png
        href: http://10.100.10.15:30041
    
    {# - Miniflux Rss:
        icon: miniflux.png
        href: http://10.100.10.20:8084/

    - FreshRSS:
        icon: freshrss.png
        href: http://10.100.10.20:9009/ #}

    - Onsite Uptime Kuma:
        icon: uptime-kuma.png
        href: {{ kuma_domain }}/
        widget:
            type: uptimekuma
            url: {{ kuma_domain }}
            slug: default

    {# - Netbox:
        icon: netbox.png
        href: http://10.100.10.20:8081 #}

    
    - Speedtest Tracker:
        icon: si-speedtest.svg-#ADD8E6
        href: https://10.100.10.20:8443
        widget:
            type: speedtest
            url: https://10.100.10.20:8443

    {# - Syncthing:
        icon: syncthing.png
        href: http://10.100.10.15:20910 #}
    
    - TrueNAS Netdata:
        icon: netdata.png
        href: http://10.100.10.15:20489

    {# - Docker Host Netdata:
        icon: netdata.png
        href: http://10.100.10.20:19999 #}
