---
# For configuration options and examples, please see:
# https://gethomepage.dev/en/configs/services

- Media Streaming:

    - Plex:
        icon: plex.png
        href: https://app.plex.tv/
        description: 10.100.10.15:32400
        widget:
            type: plex
            url: http://10.100.10.15:32400
            key: {{ plex_key }}

    - Jellyseerr:
        icon: jellyseerr.png
        href: http://requests.adfulton.com
        description: 10.100.10.20:5055
        widget:
            type: jellyseerr
            url: http://10.100.10.20:5055
            key: {{ jellyseerr_key }}

    - Radarr:
        icon: radarr.png
        href: 10.100.10.20:7878/
        description: 10.100.10.20:7878
        widget:
            type: radarr
            url: http://10.100.10.20:7878
            key: {{ radarr_key }}
            enableQueue: false # optional, defaults to false

    - Sonarr:
        icon: sonarr.png
        href: 10.100.10.20:8989/
        description: 10.100.10.20:8989
        widget:
            type: sonarr
            url: http://10.100.10.20:8989
            key: {{ sonarr_key }}
            enableQueue: false # optional, defaults to false

    - SABnzbd:
        icon: sabnzbd.png
        href: http://10.100.10.20:8080
        description: 10.100.10.20:8080
        widget:
            type: sabnzbd
            url: http://10.100.10.20:8080
            key: {{ sabnzbd_key }}

- Infrastructure:
    - Router:
        icon: asus-router.png
        href: http://10.100.10.1
        description: 10.100.10.1

    - Switch:
        icon: mdi-swap-horizontal-#ADD8E6
        href: http://10.100.10.2
        description: 10.100.10.2

    - Unifi Controller:
        icon: unifi.png
        href: http://10.100.10.5:8443
        description: 10.100.10.5 (currently off)

    - Proxmox:
        icon: proxmox.png
        href: https://10.100.10.10:8006
        description: 10.100.10.10:8006
        widget:
            type: proxmox
            url: https://10.100.10.10:8006
            username: {{ proxmox_api_token_id }}
            password: {{ proxmox_api_key }}

- Containers:
    - Speedtest Tracker