---
# For configuration options and examples, please see:
# https://gethomepage.dev/en/configs/widgets

- resources:
    cpu: true
    memory: true
    disk: /

- search:
    provider: duckduckgo
    target: _blank

- openmeteo:
    label: Houghton # optional
    latitude: 47.121211
    longitude: -88.554702
    timezone: America/Detroit # optional
    units: imperial # metric or imperial
    cache: 5 # Time in minutes to cache API responses, to stay within limits