services:
  # plex is deployed manually on fedora server so as to use hardware transcoding
  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    # deploy:
    #   resources:
    #     reservations:
    #       devices:
    #         - driver: nvidia
    #           count: 1
    #           capabilities: [gpu]
    environment:
      - PUID=0
      - PGID=0
      - TZ=Etc/UTC
      - VERSION=public
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,video,utility
    ports:
      - '32400:32400'
    volumes:
      - /opt/media/plex/transcode:/transcode
      - /opt/media/plex/config:/config
      - /mnt/media/tv_shows:/tv
      - /mnt/media/movies1:/movies
    restart: unless-g
    # runtime: nvidia

  emby:
    image: lscr.io/linuxserver/emby:latest
    container_name: emby
    environment:
      - PUID=0
      - PGID=0
      - TZ=Etc/UTC
    volumes:
      - /opt/media/emby:/config
      - /mnt/media/tv_shows:/tv
      - /mnt/media/movies1:/movies
    ports:
      - 8096:8096
      - 8920:8920 #optional
    devices:
      - /dev/dri:/dev/dri #optional
    restart: unless-g