services:
  # plex is deployed manually on fedora server so as to use hardware transcoding
  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    environment:
      - PUID=1002
      - PGID=1002
      - TZ=Etc/UTC
      - VERSION=public
      - device=/dev/dri:/dev/dri
    ports:
      - '32400:32400'
    volumes:
      - /opt/media/plex/transcode:/transcode:Z
      - /opt/media/plex/config:/config:Z
      - /mnt/media/tv_shows:/tv:Z
      - /mnt/media/movies1:/movies:Z
    restart: unless-stopped

  emby:
    image: lscr.io/linuxserver/emby:latest
    container_name: emby
    environment:
      - PUID=1002
      - PGID=1002
      - TZ=Etc/UTC
    volumes:
      - /opt/media/emby:/config:Z
      - /mnt/media/tv_shows:/tv:Z
      - /mnt/media/movies1:/movies:Z
    ports:
      - 8096:8096
      - 8920:8920 #optional
    devices:
      - /dev/dri:/dev/dri #optional
    restart: unless-stopped
