# runs `server-hosts.yml` playbook on the common hosts
common:
  hosts:
    10.100.10.4:
    10.100.10.3:
    10.100.10.11:
    10.100.10.17:
    10.100.10.20:
    10.100.10.28:
  vars:
    ansible_user: root

separate_hosts:
  hosts:
    10.100.10.4:
    10.100.10.11:
    10.100.10.17:
    10.100.10.20:
    10.100.10.28:
  vars:
    ansible_user: root

vpn:
  hosts:
    10.100.10.4:
  vars:
    ansible_user: root

linux_server:
  hosts:
    10.100.10.3:
  vars:
    ansible_user: root

plex:
  hosts:
    10.100.10.9:
  vars:
    ansible_user: root

proxmox:
  hosts:
    10.100.10.10:
  vars:
    ansible_user: root

ansible:
  hosts:
    10.100.10.11:
  vars:
    ansible_user: root

semaphore:
  hosts:
    10.100.10.17:
  vars:
    ansible_user: root

docker_host:
  hosts:
    10.100.10.20:
  vars:
    ansible_user: root

runner:
  hosts:
    10.100.10.21:
  vars:
    ansible_user: root

minecraft_grass_gang:
  hosts:
    10.100.10.29:
  vars:
    ansible_user: adam
