# ~/docker_compose/uptime_kuma/docker-compose.yml
# uptime kuma container

version: "3"

services:
  uptime-kuma:
    image: louislam/uptime-kuma:latest
    container_name: uptime-kuma
    volumes:
      - /opt/kuma:/app/data
    ports:
      - 3001:3001  # <Host Port>:<Container Port>
    restart: always
    environment:
      UPTIME_KUMA_CLOUDFLARED_TOKEN:

  # cloudflare-tunnel:
  #   image: cloudflare/cloudflared:latest
  #   command: tunnel --no-autoupdate run
  #   restart: unless-stopped
  #   environment:
  #     TUNNEL_TOKEN: