# ~/docker_compose/uptime_kuma/old-docker-compose.yml
# OLD uptime kuma container

version: "3.3"
  
services:
  uptime-kuma:
    image: louislam/uptime-kuma:latest
    container_name: uptime-kuma
    volumes:
      - ./uptime-kuma-data:/app/data
    ports:
      - 3001:3001  # <Host Port>:<Container Port>
    restart: always