# {{ ansible_managed }}

#!/bin/bash

java -Xms2048M -Xmx4096M -XX:+AlwaysPreTouch -XX:+DisableExplicitGC -XX:+ParallelRefProcEnabled -XX:+PerfDisableSharedMem -XX:+UnlockExperimentalVMOptions -XX:+UseG1GC -XX:G1HeapRegionSize=8M -XX:G1HeapWastePercent=5 -XX:G1MaxNewSizePercent=40 -XX:G1MixedGCCountTarget=4 -XX:G1MixedGCLiveThresholdPercent=90 -XX:G1NewSizePercent=30 -XX:G1RSetUpdatingPauseTimePercent=5 -XX:G1ReservePercent=20 -XX:InitiatingHeapOccupancyPercent=15 -XX:MaxGCPauseMillis=200 -XX:MaxTenuringThreshold=1 -XX:SurvivorRatio=32 -jar paper-1.21.5-114.jar

#java -Xms2048M -Xmx4096M -jar paper-1.21.4-231.jar
#java -Xms2048M -Xmx4096M -jar paper-1.21.5-114.jar
#java -Xms2048M -Xmx4096M -jar paper-1.21.6-48.jar
#java -Xms2048M -Xmx4096M -jar paper-1.21.7-32.jar
#java -Xms2048M -Xmx4096M -jar paper-1.21.8-60.jar
#java -Xms2048M -Xmx4096M -jar paper-1.21.9-59.jar
#java -Xms2048M -Xmx4096M -jar paper-1.21.10-113.jar
