version: '3.3'
services:
    speedtest_tracker:
        container_name: speedtest_tracker
        ports:
            - "8085:80"
            - "8443:443"
        environment:
            - PUID=1000
            - PGID=1000
            - DB_CONNECTION=pgsql
            - DB_HOST=db
            - DB_PORT=5433
            - DB_DATABASE={{ DB_DATABASE }}
            - DB_USERNAME={{ DB_USERNAME }}
            - DB_PASSWORD={{ DB_PASSWORD }}
            - TZ=America/Detroit
            - APP_DEBUG=true
            - APP_KEY={{ APP_KEY }}
        volumes:
            - '/etc/timezone:/etc/timezone:ro'
            - '/etc/localtime:/etc/localtime:ro'
            - '/opt/speedtest_tracker/config:/config'
            - '/opt/speedtest_tracker/web:/etc/ssl/web'
        image: 'ghcr.io/alexjustesen/speedtest-tracker:latest'
        restart: unless-stopped
        depends_on:
            - db
    db:
        image: postgres:15
        restart: always
        expose:
          - "5433" # Publishes 5433 to other containers but NOT to host machine
        ports:
          - "5433:5433"
        environment:
            - POSTGRES_DB={{ DB_DATABASE }}
            - POSTGRES_USER={{ DB_USERNAME }}
            - POSTGRES_PASSWORD={{ DB_PASSWORD }}
        volumes:
            - /opt/speedtest_tracker/speedtest-db:/var/lib/postgresql/data
        command: -p 5433
