services:
  gluetun:
    image: qmcgaw/gluetun:v3
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    volumes:
      - /opt/media/gluetun:/gluetun
    ports:
      - "9696:9696"
      - "8080:8080"
      - "8112:8112"
      - "6881:6881"
      - "6881:6881/udp"
    labels:
      - homepage.group=Containers
      - homepage.name=Gluetun
      - homepage.icon=gluetun.png
    environment:
      - VPN_SERVICE_PROVIDER=private internet access
      - OPENVPN_USER="{{ openvpn_usename }}"
      - OPENVPN_PASSWORD="{{ openvpn_password }}"
      - SERVER_REGIONS=Netherlands
      - PRIVATE_INTERNET_ACCESS_VPN_PORT_FORWARDING=on
      - FIREWALL_OUTBOUND_SUBNETS=10.100.10.0/24
      # - HEALTH_VPN_DURATION_INITIAL=6s # Initial duration to wait for the VPN to be ready before restarting it
      # - HEALTH_VPN_DURATION_ADDITION=10s # Additional duration to add to the wait time for each consecutive failure of the VPN
      # - HEALTH_SUCCESS_WAIT_DURATION=10s # Duration to wait after a success check to perform another check
    devices:
      - /dev/net/tun:/dev/net/tun
    restart: unless-stopped

  jellyseerr:
    image: fallenbagel/jellyseerr:latest
    container_name: jellyseerr
    environment:
      - LOG_LEVEL=debug
      - TZ=America/Detroit
    ports:
      - 5055:5055
    volumes:
      - /opt/media/jellyseer:/app/config
    labels:
      - homepage.group=Containers
      - homepage.name=Jellyseerr
      - homepage.icon=jellyseerr.png
      - homepage.href={{ base_domain }}/
    restart: unless-stopped

  jellyseerr-cloudflare-tunnel:
    container_name: jellyseerr-cloudflare-tunnel
    image: cloudflare/cloudflared:latest
    command: tunnel --no-autoupdate run
    restart: unless-stopped
    environment:
      TUNNEL_TOKEN: "{{ cloudflare_tunnel_token }}"
  
  maintainerr:
    image: ghcr.io/jorenn92/maintainerr:latest 
    container_name: maintainerr
    user: 0:0
    volumes:
      - /opt/media/maintainerr:/opt/data
    environment:
      - TZ=America/Detroit
    ports:
      - 6246:6246 
    labels:
      - homepage.group=Containers
      - homepage.name=Maintainerr
      - homepage.icon=maintainerr.png
      - homepage.href=http://10.100.10.20:6246/
    restart: unless-stopped

  # plex is deployed manually on fedora server so as to use hardware transcoding
  {# plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    environment:
      - PUID=0
      - PGID=0
      - TZ=Etc/UTC
      - VERSION=public
      - device=/dev/dri:/dev/dri
        #  - PLEX_CLAIM=<claim_token>
    ports:
      - '32400:32400'
    volumes:
      - /opt/media/plex/transcode:/transcode
      - /opt/media/plex/config:/config
      - /mnt/media/tv_shows:/tv
      - /mnt/media/movies1:/movies
    labels:
      - homepage.group=Containers
      - homepage.name=Plex
      - homepage.icon=plex.png
      - homepage.href=https://app.plex.tv/
    restart: unless-stopped #}

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:develop
    container_name: prowlarr
    network_mode: "service:gluetun"
    environment:
      - PUID=0
      - PGID=0
      - UMASK=0022
      - TZ=America/Detroit
    volumes:
      - /opt/media/prowlarr:/config
    labels:
      - homepage.group=Containers
      - homepage.name=Prowlarr
      - homepage.icon=prowlarr.png
      - homepage.href=http://10.100.10.20:9696/
    restart: unless-stopped

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=0
      - PGID=0
      - UMASK=0022
      - TZ=America/Detroit
    volumes:
      - /opt/media/radarr:/config
      - /mnt/media:/media
    ports:
      - "7878:7878"
    labels:
      - homepage.group=Containers
      - homepage.name=Radarr
      - homepage.icon=radarr.png
      - homepage.href=http://10.100.10.20:7878/
    restart: unless-stopped

  readarr:
    image: lscr.io/linuxserver/readarr:develop
    container_name: readarr
    environment:
      - PUID=0
      - PGID=0
      - TZ=America/Detroit
    volumes:
      - /opt/media/readarr:/config
      - /mnt/media:/media
    ports:
    - "8787:8787"
    labels:
      - homepage.group=Containers
      - homepage.name=Readarr
      - homepage.icon=readarr.png
      - homepage.href=http://10.100.10.20:8787

  sabnzbd:
    image: lscr.io/linuxserver/sabnzbd:latest
    container_name: sabnzbd
    network_mode: "service:gluetun"
    environment:
      - PUID=0
      - PGID=0
      - TZ=Etc/UTC
    volumes:
      - /opt/media/sabnzbd:/config
      - /mnt/media/:/media #optional
    labels:
      - homepage.group=Containers
      - homepage.name=SABnzbd
      - homepage.icon=sabnzbd.png
      - homepage.href=http://10.100.10.20:8080/
    depends_on:
      - gluetun
    restart: unless-stopped

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=0
      - PGID=0
      - UMASK=0022
      - TZ=America/Detroit
    volumes:
      - /opt/media/sonar:/config
      - /mnt/media:/media
    ports:
      - "8989:8989"
    labels:
      - homepage.group=Containers
      - homepage.name=Sonarr
      - homepage.icon=sonarr.png
      - homepage.href=http://10.100.10.20:8989/
    restart: unless-stopped
