version: "3.1"
services:
  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=1002
      - PGID=1002
      - UMASK=002
      - TZ=America/Chicago
    volumes:
      - /opt/media/sonar:/config
      - /mnt/media/tv_shows:/media/tv_shows
      - /mnt/media/downloads:/media/downloads
    ports:
      - "8989:8989"
    restart: unless-stopped

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=1002
      - PGID=1002
      - UMASK=002
      - TZ=America/Chicago
    volumes:
      - /opt/media/radarr:/config
      - /mnt/media/movies1:/media/movies
      - /mnt/media/downloads:/media/downloads
    ports:
      - "7878:7878"
    restart: unless-stopped

  jellyseerr:
    image: fallenbagel/jellyseerr:latest
    container_name: jellyseerr
    environment:
      - LOG_LEVEL=debug
      - TZ=America/Chicago
    ports:
      - 5055:5055
    volumes:
      - /opt/media/jellyseer:/app/config
    restart: unless-stopped

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:develop
    container_name: prowlarr
    network_mode: "service:gluetun"
    environment:
      - PUID=1002
      - PGID=1002
      - UMASK=002
      - TZ=America/Chicago
    volumes:
      - /opt/media/prowlarr:/config
    restart: unless-stopped
  
  jellyseerr-cloudflare-tunnel:
    container_name: jellyseerr-cloudflare-tunnel
    image: cloudflare/cloudflared:latest
    command: tunnel --no-autoupdate run
    restart: unless-stopped
    environment:
      TUNNEL_TOKEN: "{{ cloudflare_tunnel_token }}"

  gluetun:
    image: qmcgaw/gluetun
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    volumes:
      - /opt/media/gluetun:/gluetun
    ports:
      - "9696:9696"
      - "8080:8080"
      - "6881:6881"
      - "6881:6881/udp"
    environment:
      - VPN_SERVICE_PROVIDER=private internet access
      - OPENVPN_USER="{{ openvpn_usename }}"
      - OPENVPN_PASSWORD="{{ openvpn_password }}"
      - SERVER_REGIONS=Netherlands
      - PRIVATE_INTERNET_ACCESS_VPN_PORT_FORWARDING=on
    devices:
      - /dev/net/tun:/dev/net/tun
    restart: unless-stopped

  sabnzbd:
    image: lscr.io/linuxserver/sabnzbd:latest
    container_name: sabnzbd
    network_mode: "service:gluetun"
    environment:
      - PUID=1002
      - PGID=1002
      - TZ=Etc/UTC
    volumes:
      - /opt/media/sabnzbd:/config
      - /opt/media/downloads:/downloads #optional
      - /opt/media/incomplete:/incomplete-downloads #optional
    restart: unless-stopped

  {# qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    network_mode: "service:gluetun"
    environment:
      - PUID=1002
      - PGID=1002
      - UMASK=002
      - TZ=America/Chicago
      - WEBUI_PORT=8080
    volumes:
      - /opt/media/qbittorrent:/config
      - /mnt/media/downloads:/data/torrents
    depends_on:
      - gluetun
    restart: unless-stopped #}

