---
- name: Add SSH keys to authorized keys file
  ansible.builtin.lineinfile:
    path: ~/.ssh/authorized_keys
    line: "{{ item }}"
    create: yes
  loop: "{{ ssh_keys }}"
  diff: True

- name: Run apt update
  apt:
    update_cache: yes

- name: Install required packages
  apt:
    name: "{{ item }}"
    state: present
  loop: "{{ package_list }}"

- name: Install Ansible
  pip:
    name: ansible
    executable: pip3

- name: Enable and start SSH service
  service:
    name: ssh
    state: started
    enabled: true

- name: Clone Cookbooks repo
  git:
    repo: https://github.com/spicyFajitas/cookbooks.git
    dest: "/root/cookbooks"
    remote: origin
    version: HEAD
    clone: yes

- name: Import crontab jobs
  ansible.builtin.import_tasks: crontab.yml

- name: Run apt upgrade
  apt:
    upgrade: yes
