---
version: "3.7"
services:
  mealie:
    image: ghcr.io/mealie-recipes/mealie:v1.1.0 # 
    container_name: mealie
    ports:
        - "9925:9000" # 
    deploy:
      resources:
        limits:
          memory: 1000M # 
    volumes:
      - /opt/mealie/data:/app/data/
    environment:
    # Set Backend ENV Variables Here
      - ALLOW_SIGNUP=true
      - PUID=1000
      - PGID=1000
      - TZ=America/Detroit
      - MAX_WORKERS=1
      - WEB_CONCURRENCY=1
      - BASE_URL={{ base_domain }}
    labels:
      - homepage.group=Containers
      - homepage.name=Mealie
      - homepage.icon=mealie.png
      - homepage.href=https://mealie.adfulton.com/
    restart: always
  
  cloudflare_tunnel_mealie:
    image: cloudflare/cloudflared:latest
    command: tunnel --no-autoupdate run
    restart: unless-stopped
    environment:
      TUNNEL_TOKEN: {{ cf_tunnel_api }}
