---
- name: Apt install cifs-utils
  ansible.builtin.apt:
    name: cifs-utils
    state: present

# - name: Create smb credentials file
#   ansible.builtin.template:
#     src: "smb.j2"
#     dest: "/root/.smb"
#     mode: "0644"

- name: Mount smbbackup SMB share
  ansible.posix.mount:
    src: //10.100.10.15/smbbackup
    path: /mnt/smbbackup
    opts: "rw,vers=3,file_mode=0600,dir_mode=0700,dom=domain.local,username={{ smb_username }},password={{ smb_password }}"
    fstype: cifs
    state: mounted

- name: Create a container directory if it does not exist
  ansible.builtin.file:
    path: "{{ base_dir }}"
    state: directory
    mode: "0755"

- name: Update configuration files
  ansible.builtin.template:
    src: "{{ item }}.j2"
    dest: "{{ base_dir }}/{{ item }}"
    mode: "0644"
  loop:
    - docker-compose.yml
  diff: True
# notify: Restart container(s)

# - name: Update configuration files
#   ansible.builtin.template:
#     src: "{{ item }}.j2"
#     dest: "{{ base_dir }}/world_data/{{ item }}"
#     mode: "0644"
#   loop:
#     - whitelist.json
#   diff: True
#   notify: Restart container(s)

- name: Pull container updates
  community.docker.docker_compose:
    project_src: "{{ base_dir }}"
    pull: True
  notify: Restart container(s)
