version: '3.3'
services:
    connector:
        environment:
            - TENANT_URL="{{ twingate_tenant_url }}"
            - ACCESS_TOKEN="{{ twingate_access_token }}"
            - REFRESH_TOKEN="{{ twingate_refresh_token }}"
            - TWINGATE_LABEL_HOSTNAME= "{{ twingate_label_hostname }}"
        container_name: "{{ twingate_container_name }}"
        restart: restart_policy
        image: "{{ container_image }}:{{ container_version }}"