version: "3.3"
services:
  twingate_connector:
    container_name: container_name
    restart: always
    image: 'twingate/connector:latest'
    environment:
      - SSL_CERT_FILE=/etc/ssl/certs/ca-certificates.crt
      - TWINGATE_API_ENDPOINT=/connector.stock
      - TENANT_URL={{ twingate_tenant_url }}
      - TWINGATE_ACCESS_TOKEN={{ twingate_access_token }}
      - TWINGATE_REFRESH_TOKEN={{ twingate_refresh_token }}
      - LOG_LEVEL=3
