---
- name: Install uptime kuma in the cloud
  hosts: cloud_kuma, docker-host
  become: true
  become_method: sudo
  roles:
    - uptime_kuma
  vars_files:
    - roles/uptime_kuma/vaults/production.yml
