---
- name: Update Ubuntu Servers
  hosts: k3s
  become: yes
  become_user: root
  tasks:
    - name: Update apt-get repo and cache
      apt: 
        update_cache: yes
        upgrade: yes
      register: apt_output
    - name: Upgrade all apt packages
      apt: upgrade=dist
    #- debug:
    #    msg: " {{ debian.stdout_lines }} "
    - name: List installed and updated packages
      shell: grep -E "^$(date +%Y-%m-%d).+ (install|upgrade) " /var/log/dpkg.log |cut -d " " -f 3-5
      register: result
      when: apt_output.changed
    - name: Show Output
      debug: msg="{{ apt_cache.stdout_lines }}"
      when: apt_output.changed