---
- name: Update Ubuntu Servers
  hosts: k3s
  become: yes
  become_user: adam
  tasks:
    - name: Update apt-get repo and cache
      apt: update_cache=yes force_apt_get=yes cache_valid_time=3600

    - name: Upgrade all apt packages
      apt: upgrade=dist force_apt_get=g