# {{ ansible_managed }}

ALLOWED_HOSTS={{ allowed_hosts }}
CORS_ORIGIN_ALLOW_ALL={{ cors_origin_allow_all }}
CORS_ORIGIN_ALLOW_ALL=True
CORS_ORIGIN_WHITELIST={{ cors_origin_whitelist }}
DB_HOST={{ pg_host }}
DB_NAME={{ pg_db }}
DB_PASSWORD={{ pg_password }}
DB_USER={{ pg_user }}
EMAIL_FROM={{ email_from }}
EMAIL_PASSWORD={{ email_password }}
EMAIL_PORT={{ email_port }}
EMAIL_SERVER={{ email_server }}
EMAIL_SSL_CERTFILE={{ email_certfile }}
EMAIL_SSL_KEYFILE={{ email_keyfile }}
EMAIL_TIMEOUT={{ email_timeout }}
# EMAIL_USE_SSL and EMAIL_USE_TLS are mutually exclusive, i.e. they can't both be `true`!
EMAIL_USE_SSL={{ email_use_ssl }}
EMAIL_USE_TLS={{ email_use_tls }}
EMAIL_USERNAME={{ email_username }}
ENFORCE_GLOBAL_UNIQUE={{ enforce_global_unique }}
GRAPHQL_ENABLED={{ graphql_enabled }}
HOUSEKEEPING_INTERVAL={{ housekeeping_interval }}
LOGIN_REQUIRED={{ login_required }}
MAX_PAGE_SIZE={{ max_page_size }}
MEDIA_ROOT={{ base_dir }}/media
METRICS_ENABLED={{ metrics_enabled }}
NAPALM_PASSWORD={{ napalm_password }}
NAPALM_TIMEOUT={{ napalm_timeout }}
NAPALM_USERNAME={{ napalm_username }}
PAGINATE_COUNT={{ default_page_size }}
REDIS_CACHE_DATABASE=0
REDIS_CACHE_HOST={{ redis_cache_host }}
REDIS_CACHE_INSECURE_SKIP_TLS_VERIFY={{ redis_cache_insecure_skip_tls_verify }}
REDIS_CACHE_PASSWORD={{ redis_cache_password }}
REDIS_CACHE_SSL={{ redis_cache_ssl }}
REDIS_DATABASE=0
REDIS_HOST={{ redis_host }}
REDIS_INSECURE_SKIP_TLS_VERIFY={{ redis_insecure_skip_tls_verify }}
REDIS_PASSWORD={{ redis_password }}
REDIS_SSL=false
RELEASE_CHECK_URL=https://api.github.com/repos/netbox-community/netbox/releases
SECRET_KEY={{ secret_key }}
SKIP_STARTUP_SCRIPTS={{ skip_startup_scripts }}
SKIP_SUPERUSER={{ skip_superuser }}
SUPERUSER_API_TOKEN={{ admin_api_token }}
SUPERUSER_EMAIL={{ admin_email }}
SUPERUSER_NAME={{ admin_username }}
SUPERUSER_PASSWORD={{ admin_password }}
WEBHOOKS_ENABLED={{ webhooks_enabled }}
{% if container_env %}
{% for key, value in container_env.items() %}
{{ key }}={{ value }}
{% endfor %}
{% endif %}
