---
# - name: Add SSH keys to authorized keys file
#   ansible.builtin.lineinfile:
#     path: ~/.ssh/authorized_keys
#     line: "{{ item }}"
#     create: yes
#   loop: "{{ ssh_keys }}"
#   diff: True

- name: Template ~/.ssh/authorized_keys file
  ansible.builtin.template:
    src: "{{ item }}.j2"
    dest: "~/.ssh/authorized_keys"
    mode: "0600"
  loop:
    - authorized_keys
  diff: True

- name: Restart SSH service on Debian/Ubuntu
  ansible.builtin.service:
    name: ssh
    state: started
    enabled: true
  when: ansible_facts.os_family == "Debian"

- name: Restart SSH service on RHEL/CentOS/Rocky/Alma
  ansible.builtin.service:
    name: sshd
    state: started
    enabled: true
  when: ansible_facts.os_family == "RedHat"
